@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc; /* Slate 50 for that subtle FB/Reddit contrast */
  --foreground: #0f172a; /* Slate 900 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Hide scrollbar for sidebars to keep UI clean but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
